

<div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="text-green">Vos critères</h4>
        </div>
        <div class="panel-body">

<a ng-click="vm.displayText()" class="btn btn-choix">Texte</a>
<a ng-click="vm.displayDate()" class="btn btn-choix">Date</a>
<a ng-click="vm.displayTime()" class="btn btn-choix">Heure</a>

<p class="input-group" ng-show="vm.displayDatepicker">
    <input type="text" class="form-control" uib-datepicker-popup="{{vm.format}}" ng-model="vm.dateTmp" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
    <span class="input-group-btn">
        <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
    </span>
    <span class="input-group-btn">
        <button type="button" class="btn btn-default" ng-click="vm.addInput()"><i class="glyphicon glyphicon-ok"></i></button>
    </span>
</p>
<p class="input-group" ng-show="vm.displayTextInput">
    <input type="text" class="form-control"  ng-model="vm.textTmp"/>
    <span class="input-group-btn">
        <button type="button" class="btn btn-default" ng-disabled= "true"><i class="glyphicon glyphicon-font"></i></button>
    </span>
    <span class="input-group-btn">
        <button type="button" class="btn btn-default" ng-click="vm.addInput()"><i class="glyphicon glyphicon-ok"></i></button>
    </span>
</p>

<p class="input-group" ng-show="vm.displayTimePicker">
    <uib-timepicker ng-model="vm.timeTmp" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></uib-timepicker>
    <span class="input-group-btn">
        <button type="button" class="btn btn-default" ng-click="vm.addInput()"><i class="glyphicon glyphicon-ok"></i></button>
    </span>
</p>

<p class="input-group" ng-repeat="critere in vm.askeet.entityCriteria">
    <input type="text" disabled class="form-control" placeholder="{{critere}}"/>
          <span class="input-group-btn">
            <button type="button" ng-click="vm.deleteInput(critere)" class="btn btn-default""><i class="glyphicon glyphicon-remove"></i></button>
          </span>
</p>

</div>
        <div class="panel-footer">
            <a ui-sref="createAskeet.step1" class="valide-choix btn btn-default">Revenir</a>
            <a ui-sref="createAskeet.step3" class="valide-choix btn btn-default">Poursuivre</a>
        </div>
    </div>

        <div class="panel panel-default intro">
        <div class="panel-body ">

            <h4><span class="text-green">Title:  </span>{{vm.askeet.entityTitle}}</h4>
            <dl>
                <dt  class="text-green">Auteur</dt>
                <dd>{{vm.askeet.entityName}}</dd>
                <dt  class="text-green">Description</dt>
                <dd>{{vm.askeet.entityDescription}}</dd>
                <dt  class="text-green">Critères</dt>
                <dd ng-repeat="critere in vm.askeet.entityCriterias"><span class="glyphicon glyphicon-record" aria-hidden="true"></span> {{critere.data}}</dd>
            </dl>
        </div>
    </div>
