
<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="text-green">écapitulatif</h4>
    </div>
    <div class="panel-body">
<h4><span class="text-green">Title:  </span>{{vm.askeet.title}}</h4>
            <dl>
                <dt  class="text-green">Auteur: </dt>
                <dd>{{vm.askeet.name}}</dd>
                <dt  class="text-green">Description:</dt>
                <dd>{{vm.askeet.description}}</dd>
                <dt  class="text-green">Critères:</dt>
                <dd ng-repeat="critere in vm.askeet.criteria"><span class="glyphicon glyphicon-record" aria-hidden="true"></span> {{critere.data}}</dd>
                
                <dt  class="text-green">Vos options:</dt>
                <dd ><span class="glyphicon glyphicon-record" aria-hidden="true"></span> {{option.privateVote === "ture" ? "Votes privés" : ""}}</dd>
                <dd ><span class="glyphicon glyphicon-record" aria-hidden="true"></span> {{option.voteModification === "ture" ? "Votes modificable après validation:" : ""}}</dd>
                <dd ><span class="glyphicon glyphicon-record" aria-hidden="true"></span> {{option.voteModificationByUsers === "ture" ? "Votes modificable un autre utilisateur" : ""}}</dd>
                <dd ><span class="glyphicon glyphicon-record" aria-hidden="true"></span> {{option.multipleVote === "ture" ? "Multiple réponses" : ""}}</dd>
                <dd ><span class="glyphicon glyphicon-record" aria-hidden="true"></span> {{option.addAnswerByUser === "ture" ? "Possible d'ajouter un critères par utilisateur" : ""}}</dd>
                <dd ><span class="glyphicon glyphicon-record" aria-hidden="true"></span> {{option.displayResult === "ture" ? "Afficher un sondage final aux utilisateurs" : ""}}</dd>

                <dt class="text-green">Votre liste d'invités:</dt>
                <dd ng-repeat="mail in vm.askeet.invitations"><span class="glyphicon glyphicon-record" aria-hidden="true"></span> {{mail}}</dd>
                
            </dl>
        </div>
    </div>

