
<div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="text-green">Vos critères</h4>
        </div>
        <div class="panel-body">
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="vm.askeet.details.privateVote"> Je souhaite que les votes soit privés
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="vm.askeet.details.voteModification"> Je souhaite permettre la modification d'un vote après validation
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="vm.askeet.details.voteModificationByUsers"> Je souhaite qu'un vote puisse être modifié par un autre utilisateur
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="vm.askeet.details.multipleVote"> Je souhaite permettre les réponses à choix multiple
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="vm.askeet.details.addAnswerByUser"> Je souhaite permettre à l'utilisateur d'ajouté une réponse
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="vm.askeet.details.displayResult"> Je souhaite afficher un sondage final aux utilisateurs apres leur participation.
                </label>
            </div>
        </div>
        <div class="panel-footer">
            <a ui-sref="createAskeet.step2" class="valide-choix btn btn-default">Revenir</a>
            <a ui-sref="createAskeet.step4" class="valide-choix btn btn-default">Poursuivre</a>
        </div>
    </div>

        <div class="panel panel-default intro">
        <div class="panel-body ">

            <h4><span class="text-green">Title:  </span>{{vm.askeet.title}}</h4>
            <dl>
                <dt  class="text-green">Auteur: </dt>
                <dd>{{vm.askeet.name}}</dd>
                <dt  class="text-green">Description:</dt>
                <dd>{{vm.askeet.description}}</dd>
                <dt  class="text-green">Critères:</dt>
                <dd ng-repeat="critere in vm.askeet.criteria"><span class="glyphicon glyphicon-record" aria-hidden="true"></span> {{critere.data}}</dd>
                
                <dt  class="text-green">Vos options:</dt>
                <dd ><span class="glyphicon glyphicon-record" aria-hidden="true"></span> {{option.privateVote === "ture" ? "Votes privés" : ""}}</dd>
                <dd ><span class="glyphicon glyphicon-record" aria-hidden="true"></span> {{option.voteModification === "ture" ? "Votes modificable après validation:" : ""}}</dd>
                <dd ><span class="glyphicon glyphicon-record" aria-hidden="true"></span> {{option.voteModificationByUsers === "ture" ? "Votes modificable un autre utilisateur" : ""}}</dd>
                <dd ><span class="glyphicon glyphicon-record" aria-hidden="true"></span> {{option.multipleVote === "ture" ? "Multiple réponses" : ""}}</dd>
                <dd ><span class="glyphicon glyphicon-record" aria-hidden="true"></span> {{option.addAnswerByUser === "ture" ? "Possible d'ajouter un critères par utilisateur" : ""}}</dd>
                <dd ><span class="glyphicon glyphicon-record" aria-hidden="true"></span> {{option.displayResult === "ture" ? "Afficher un sondage final aux utilisateurs" : ""}}</dd>
                
            </dl>
        </div>
    </div>
