
<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="text-green">Récapitulatif</h4>
    </div>
    <div class="panel-body">
        <h4><span class="text-green">Title:  </span>{{vm.askeet.entityTitle}}</h4>
            <dl>
                <dt  class="text-green">Auteur: </dt>
                <dd>{{vm.askeet.entityName}}</dd>
                <dt  class="text-green">Description:</dt>
                <dd>{{vm.askeet.entityDescription}}</dd>
                <dt  class="text-green">Critères:</dt>
                <dd ng-repeat="critere in vm.askeet.entityCriteria"><span class="glyphicon glyphicon-record" aria-hidden="true"></span> {{critere.data}}</dd>
                
                <dt  class="text-green">Vos options:</dt>
                <dd ><span class="glyphicon glyphicon-record" aria-hidden="true"></span> {{option.privateVote === "true" ? "Votes privés" : ""}}</dd>
                <dd ><span class="glyphicon glyphicon-record" aria-hidden="true"></span> {{option.voteModification === "true" ? "Votes modificable après validation:" : ""}}</dd>
                <dd ><span class="glyphicon glyphicon-record" aria-hidden="true"></span> {{option.voteModificationByUsers === "true" ? "Votes modificable un autre utilisateur" : ""}}</dd>
                <dd ><span class="glyphicon glyphicon-record" aria-hidden="true"></span> {{option.multipleVote === "true" ? "Multiple réponses" : ""}}</dd>
                <dd ><span class="glyphicon glyphicon-record" aria-hidden="true"></span> {{option.addAnswerByUser === "true" ? "Possible d'ajouter un critères par utilisateur" : ""}}</dd>
                <dd ><span class="glyphicon glyphicon-record" aria-hidden="true"></span> {{option.displayResult === "true" ? "Afficher un sondage final aux utilisateurs" : ""}}</dd>

                <dt class="text-green">Votre liste d'invités:</dt>
                <dd ng-repeat="mail in vm.askeet.entityInvitations"><span class="glyphicon glyphicon-record" aria-hidden="true"></span> {{mail}}</dd>
                
            </dl>
            <a  class="btn btn-primary" ng-click="vm.createAskeet()">Créer mon Askeet</a>
        </div>
    </div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="text-green">Voici le lien d'accès à votre Askeet</h4>
    </div>
    <div class="panel-body">
        <strong>{{vm.generatedLink}}</strong>
    </div>
</div>
