<div class="groupe container">
	<table class="col-xs-12">
		<tr>
			<td class="col-xs-4"><img src="images/nous/adrien.jpg" ></td>
			<td class="col-xs-4"><img src="images/nous/emilie.jpg" ></td>
			<td class="col-xs-4"><img src="images/nous/yuzhu.jpg" ></td>
		</tr>
		<tr>
			<td class="name">DEHAI Adrien</td>
			<td class="name">Jimenez Emilie</td>
			<td class="name">JIN Yuzhu</td>
			
		</tr>
		<tr>
			<td class="col-xs-4"><img src="images/nous/mehdi.jpg" ></td>
			<td class="col-xs-4"><img src="images/nous/val.jpg"></td>
			<td class="col-xs-4"><img src="images/nous/alex.jpg"></td>
		</tr>
		
		<tr>
			<td class="name">SABOUNDJI Mehdi</td>
			<td class="name">SOUCHE Valentin</td>
			<td class="name">SOYER Alexandre</td>
		</tr>
	</table>
</div>