<div ng-hide="!loader.isLoading" class="loader-wrapper">
    <div class="loader-img">
        <img ng-src="../images/loader.gif">
        <p>Askeet ...</p>
    </div>
</div>
<div ng-hide="loader.isLoading" class="header">
    <h4 class="title-questionnaire">{{askeetList.entityTitle}} </h4>
    <p>{{askeetList.entityDescription}} à {{askeetList.entityLocation}}</p>
</div>
<p>Taux de réponses: {{askeetList.entityResponses.length}} sur {{askeetList.entityInvitations.length}} invitées</p>
<p> Askeet créé par {{askeetList.entityName}}</p>
<div class="questionnaire col-xs-12">
    <table class="table reponse-table">
        <thead>
        <tr>
            <th></th>
            <th ng-repeat="criteria in askeetList.entityCriteria"><span class="tagChoix">{{criteria}}</span></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="user in askeetList.entityResponses">
            <td class='participant'><div class="triangle"></div><span class="name">{{user.entityName}}</span></td>
            <td ng-repeat="(i,lol) in user.entityResponseChoices" ng-if ="$index < askeetList.entityCriteria.length" class="choix-champ"><span ng-class="(lol === true) ? 'glyphicon glyphicon-thumbs-up' : ''" aria-hidden="true"></span></td>
        </tr>
        <tr>
            <td sclass='participant'><div class="triangle"></div><input type="text" class="form-control name-participant name" placeholder="Votre nom" ng-model="answers.entityName"></td>
            <td ng-repeat="choice in askeetList.entityCriteria" class="choix-champ"><input type="checkbox" ng-model="answers.entityResponseChoices[$index]"></td>
        </tr>
        </tbody>
    </table>
    <div class="footer-controls">
        <a class="valide-choix btn btn-default" ng-click="addAnswer()">Valider mes choix</a>
        <a class="valide-choix btn btn-error" ng-click="deleteAskeet()">Supprimer Askeet</a>
    </div>
</div>
