<!--
<div class="jumbotron">
  <h1>DOOODLE</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing">
  <h4>HTML5 Boilerplate</h4>
  <p>
    HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
  </p>

  <h4>Angular</h4>
  <p>
    AngularJS is a toolset for building the framework most suited to your application development.
  </p>

  <h4>Karma</h4>
  <p>Spectacular Test Runner for JavaScript.</p>
</div>
-->
<div class="header">
  <h1>Askeet!</h1>
  <h4>Organize simply and freely .</h4>
</div>
<div class="intro col-xs-12">
  <div class="row">
    <div class="gif col-xs-5"><img src="images/animat-essential/responsive/animat-responsive-color.gif" class="col-xs-10"></div>
    <div class="text col-xs-7"><b>Freedom : </b> <br>You can create or fill your questionnaire anywhere anytime you want. Feeling of freedom</div>
  </div>
  <div class="row">
    <div class="text col-xs-7"><b>Simple : </b> <br>You just select your choice or choices. You can also add your comments</div>
    <div class="gif col-xs-5"><img src="images/animat-essential/pencil/animat-pencil-color.gif" class="col-xs-9"></div>
  </div>
  <div class="row">
    <div class="gif col-xs-5"><img src="images/animat-essential/customize/animat-customize-color.gif" class="col-xs-10"></div>
    <div class="text col-xs-7"><b>Operable :</b> <br> You can customize your questionnaire , pmodify the permissions</div>
  </div>
  <div class="row">
    <div class="text col-xs-7"><b>Visualization : </b> <br>A chart to the reality of the results of the questionnaire , more direct</div>
    <div class="gif col-xs-5"><img src="images/animat-essential/line-chart/animat-linechart-color.gif" class="col-xs-9"></div>
  </div>
</div>

<div class="formulaire">
  <h2>To start, it's now!</h4>
  <div class="row">
    <form name="email" style="margin-left:180px">
      <div class="form-group">
        <div class="input-group col-xs-8">
          <input type="text" class="form-control" style="height:50px" id="exampleInputAmount" placeholder="enter your email address">
          <div class="input-group-addon"><a type="submit" class="btn btn-info" style="padding:13px;margin:-13px;">Go</a></div>
        </div>
      </div>

    </form>
  </div>
</div>
