        <div class="header">
          <h1>Askeet!</h1>
          <h4>Organiser simplement et librement.</h4>
        </div>
        <div class="intro col-xs-12">
          <div class="row">
            <div class="gif col-xs-5"><img src="images/animat-essential/responsive/animat-responsive-color.gif" class="col-xs-10"></div>
            <div class="text col-xs-7"><b>Libre : </b> <br>
              Vous pouvez créer et répondre à vos questionnaires où vous voulez, quand vous voulez. Sentiment de liberté</div>
          </div>
          <div class="row">
            <div class="text col-xs-7"><b>Simple : </b> <br>
              Sélectionnez simplement votre choix. Vous pouvez aussi ajouter des commentaires</div>
            <div class="gif col-xs-5"><img src="images/animat-essential/pencil/animat-pencil-color.gif" class="col-xs-9"></div>
          </div>
          <div class="row">
            <div class="gif col-xs-5"><img src="images/animat-essential/customize/animat-customize-color.gif" class="col-xs-10"></div>
            <div class="text col-xs-7"><b>Customisable :</b> <br> 
              Vous pouvez customiser votre questionnaire, modifier les permissions, etc.</div>
          </div>
          <div class="row">
            <div class="text col-xs-7"><b>Réactif : </b> <br>
              Un graphique illustrant directement les résultats du questionnaire, rapidement et facilement</div>
            <div class="gif col-xs-5"><img src="images/animat-essential/line-chart/animat-linechart-color.gif" class="col-xs-9"></div>
          </div>
        </div>

        <div class="Start">
          <h2>Commencer dès maintenant !</h4>
          <a class="btn btn-info start-button" href="/#/new-askeet">Commencez ici !</a>
        </div>