        <div class="header">
          <h4 class="title-questionnaire">Le rendez-vous "réunion technique" vous préfère: </h4>
        </div>
        <div class="questionnaire col-xs-12">
          <table class="table reponse-table">
            <thead>
              <tr>
                <th></th>
                <th><span class="tagChoix">14/04/2016 14h</span></th>
                <th><span class="tagChoix">14/04/2016 15h</span></th>
                <th><span class="tagChoix">14/04/2016 16h</span></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class='participant'><div class="triangle"></div><span class="name">DavidDavidDavidDavid</span></td>
                <td class="choix-champ"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span></td>
                <td class="choix-champ"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span></td>
                <td class="choix-champ"></td>
              </tr>
              <tr>
                <td class='participant'><div class="triangle"></div><span class="name">Rémi</span></td>
                <td class="choix-champ"></td>
                <td class="choix-champ"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span></td>
                <td class="choix-champ"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span></td>
              </tr>
              <tr >
                <form name="emailReponse" style="margin-left:180px" ng-submit="emailReponse()" ng-controller="ReponseCtrl">
                  <td sclass='participant'><div class="triangle"></div><input type="text" class="form-control name-participant name" placeholder="Votre nom" ng-model="answers.nameUser"></input></td>
                  <td class="choix-champ"><input type="checkbox" value="1" ng-model="answers.choix_1"></td>
                  <td class="choix-champ"><input type="checkbox" value="2" ng-model="answers.choix_2"></td>
                  <td class="choix-champ"><input type="checkbox" value="3" ng-model="answers.choix_3"></td>
                </form>
              </tr>
            </tbody>
          </table>
          <a class="valide-choix btn btn-info" ng-click="emailReponse">Valide Votre Choix</a>
        </div>
        <pre>list={{answers}}</pre>