        <div class="header">
          <h4 class="title-questionnaire">Le rendez-vous "réunion technique" vous préfère: </h4>
        </div>
        <div class="questionnaire col-xs-12">
          <table class="table reponse-table">
            <thead>
              <tr>
                <th></th>
                <th><span class="tagChoix">14/04/2016 14h</span></th>
                <th><span class="tagChoix">14/04/2016 15h</span></th>
                <th><span class="tagChoix">14/04/2016 16h</span></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class='participant'><div class="triangle"></div><span class="name">DavidDavidDavidDavid</span></td>
                <td class="choix-champ"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span></td>
                <td class="choix-champ"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span></td>
                <td class="choix-champ"></td>
              </tr>
              <tr>
                <td class='participant'><div class="triangle"></div><span class="name">Rémi</span></td>
                <td class="choix-champ"></td>
                <td class="choix-champ"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span></td>
                <td class="choix-champ"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span></td>
              </tr>
              <tr >
                <td sclass='participant'><div class="triangle"></div><input type="text" class="form-control name-participant name" placeholder="Votre nom"></input></td>
                <td class="choix-champ"><input type="checkbox" value=""></td>
                <td class="choix-champ"><input type="checkbox" value=""></td>
                <td class="choix-champ"><input type="checkbox" value=""></td>
              </tr>
            </tbody>
          </table>
          <a class="valide-choix btn btn-info">Valide Votre Choix</a>
        </div>